obj/
bin/
.vs/
FirstOrderMemory/bin/
FirstOrderMemory/obj/
FirstOrderMemoryUnitTest/bin/
FirstOrderMemoryUnitTest/obj/
SecondORderMemory/bin/
SecondORderMemory/obj/
SecondORderMemoryUnitTest/bin
SecondORderMemoryUnitTest/obj
Hentul/obj
Hentul/bin

#OS junk files
    [Tt]humbs.db
    *.DS_Store
    
#Visual Studio files	
    *.log
	*.cace
	*.cache
	*.json
	*.pdb
	*.[Oo]bj
	*.user
    *.aps
    *.pch
    *.vspscc
    *.vssscc
    *_i.c
    *_p.c
    *.ncb
    *.suo
    *.tlb
	*.dll
    *.tlh
    *.bak
    *.[Cc]ache
    *.ilk
    *.log
    *.lib
    *.sbr
    *.sdf
    *.pyc
    *.xml
    ipch/
    Hentul/FirstOrderMemory/obj/
	Hentul/FirstOrderMemory/bin/
    Hentul/FirstOrderMemory/[Bb]in
    Hentul/FirstOrderMemory/[Dd]ebug*/
    [Rr]elease*/
    Ankh.NoLoad
    
#Tooling
    _ReSharper*/
    *.resharper
    [Tt]est[Rr]esult*
    
#Project files
    [Bb]uild/
#Subversion files
    .svn
    
# Office Temp Files
    ~$*